header {
    margin-left: 2em;
}

body {
    margin-left: 10%;
    margin-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    display: flex;
    margin: 1%;
}

.address-info {
    display: flex;
}

.row {
    margin-right: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
}

.row input {
    margin-left: 0em;
    width: 150px;
    height: 20px;
}

.border {
    margin: 1em;
}

label {
    padding-left: 1em;
}

h3 {
    margin-left: 1em;
    margin-top: 1em;
}

.bigbox input {
    margin-left: 2em;
    width: 400px;
    height: 100px;
}

.bigbox textarea {
    margin-left: 2em;
    margin-bottom: 2em;
    margin-right: 2em;
    width: 920px;
    height: 100px;
}

.date-signature {
    display: flex;
    padding-left: 0em;
}

.date-signature input {
    margin: 1em;
    height: 1em;
}

p {
    margin-left: 2em;
    margin-right: 30%;
}

.submit-btn input {
    margin-left: 2em;
    margin-bottom: 5em;
    height: 2em;
}

.form-inline {
    margin-left: 1em;
    margin-bottom: 3em;
}

.form-inline input {
    height: 40px;
}


/*
label {
    margin-right: 2em;
    width: 100px;
    height: 5px;
}


.content header {
    margin-right: 20em;
}

.person {
    vertical-align: top;
}



.row {
    display: flex;
    margin-top: 1em;
}

.headline {
    margin-top: 2em;
}