body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.dhbw {
    widht: 60px;
    scroll-margin-top: 2em;
}

.main-content {
    display: flex;
}

.lectures-table {
    width: 90%;
    display: flex;
    margin-left: 5em;
}

.lectures-table table {
    margin-right: 3em;
}

.lectures-table tr th {
    background-color: rgb(231, 231, 231);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.submit-button {
    display: block;
    text-align: right;
    height: 50px;
    background-color: rgb(216, 4, 4);
    padding: .2em 1em .2em;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.submit-button a {
    text-decoration: none;
    color: #fff;
}